<nav>
    <div class="nav-container">
        <a href="/">Wild West Forum</a>
        
        <div class="nav-links">
            {{#if user}}
                <span>Howdy, {{user}}!</span>
                <a href="/comments">All Comments</a>
                <a href="/comment/new">Post Comment</a>
                <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit">Logout</button>
                </form>
            {{else}}
                <a href="/comments">All Comments</a>
                <a href="/login" class="nav-button">Login</a>
            {{/if}}
        </div>
    </div>
</nav>
